.main {
    position: relative;
    height: 760px;
}

.left-side {
    position: absolute;
    top: 100px;
    left: 50px;
    height: 760px;
    width: 320px;
    padding: 20px;
}

.middle-side {
    position: absolute;
    top: 10px;
    left: 400px;
    height: 760px;
    width: 500px;
    padding: 20px;
}

.right-side {
    position: absolute;
    top: 100px;
    left: 1000px;
    height: 760px;
    width: 320px;
    padding: 20px;

}
.p{
    backgroundColor: "lightgrey"
}